<div class="container">
	<div class="row">

		<!-- サイドメニュー -->
		<%= render 'layouts/sidemenu' %>

		<div class="col-xs-10 side-menu-left-line">


			<!-- 人気の投稿順 -->
			<div class="row">
				<div class="popular-post-title">
					<span class="popular-post-text"><strong>いいねした投稿</strong></span>
				</div>

				<div class="popular-post-index">

					<% @likes.each do |like| %>

						<div class="col-xs-3">
							<%= link_to post_garden_path(like.post_garden_id) do %>
								<%= attachment_image_tag like.post_garden.post_images[0], :garden_image, :fill, 200,200, format: 'jpg', class:"index-post-image" %>
							<% end %>

							<div class="tags-list-index">
								<% like.post_garden.tag_list.each do |tag| %>
									<%= link_to search_result_path(tag_name: tag), class:"tag-label-link" do %>
										<span class="post-tag-text"><%= tag %>　></span>
									<% end %>
								<% end %>
							</div>
						</div>

					<% end %>
				</div>
			</div>

		</div>

	</div>
</div>
