<div class="container">
	<div class="row">

		<div class="col-xs-4 col-xs-offset-1">
			<div class="follower-index-title-position">
				<%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpg', fallback: "no_image.jpg", class:"index-profile-image" %>
				<span class="follower-index-title-text"><strong><%= @user.user_name %>のフォロワー</strong></span>
			</div>
		</div>

	</div>

	<!-- フォロワー一覧 -->
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<% @followers.each do |follower| %>


				<div class="follower-index-list">
					<div class="col-xs-3 col-xs-offset-1">
						<%= attachment_image_tag follower.user, :profile_image, :fill, 50, 50, format: 'jpg', fallback: "no_image.jpg", class:"index-profile-image" %>
						<%= link_to user_path(follower.user_id), class:"follower-index-user-name" do %>
							<strong><%= follower.user.user_name %></strong>
						<% end %>
					</div>

					<div class="col-xs-3 follow-index-profile-content">
						<%= follower.user.profile_text %>
					</div>


					<div class="col-xs-1 col-xs-offset-1 follow-index-prefecture">
						<span class="follow-index-prefecture-text"><%= follower.user.prefecture %></span>
					</div>

					<div class="col-xs-2">
						<% if user_signed_in? %>
							<% if current_user.user_followed?(follower.user_id) %>
								<%= form_for(current_user.relationships.find_by(follow_id: follower.user_id), url: unfollow_path(follower.user_id), html: { method: :delete }) do |f| %>
									<%= hidden_field_tag :follow_id, follower.id %>
									<%= f.submit 'フォロー解除', class:"btn btn-danger btn-sm follower-index-button-position" %>
								<% end %>
							<% else %>
								<%= form_for(@relationship) do |f| %>
									<%= hidden_field_tag :follow_id, follower.id %>
									<%= f.submit '+ フォロー', class:"btn btn-primary btn-sm follower-index-button-position" %>
								<% end %>
							<% end %>
						<% end %>
					</div>
				</div>

			<% end %>
		</div>
	</div>
</div>