<div class="container">
	<div class="row">
		<h2><%= @user.user_name %></h2>
			<div class="col-xs-4">
				<div class="samuneiru-position">
				<%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'jpg', fallback: "no_image.jpg" %>
				</div>
			</div>

			<div class="col-xs-6">

				<% unless current_user == @user %>
					<% if current_user.following?(@user) %>
						<%= form_for(current_user.relationships.find_by(follow_id: @user.id), url: unfollow_path(@user.id), html: { method: :delete }) do |f| %>
							<%= hidden_field_tag :follow_id, @user.id %>
							<%= f.submit 'フォロー解除', class:"btn btn-danger btn-block" %>
						<% end %>
					<% else %>
						<%= form_for(@relationship) do |f| %>
							<%= hidden_field_tag :follow_id, @user.id %>
							<%= f.submit '+ フォロー', class:"btn btn-primary btn-block" %>
						<% end %>
					<% end %>
				<% end %>

				<%= link_to "会員情報編集", edit_user_path(current_user.id) %>


				<div class="follow-index">
					<span class="follower-text"><%= link_to "フォロワー", follower_path(params[:id]) %></span>
					<span class="following-text"><%= link_to "フォロー中", following_path(params[:id]) %></span>
				</div>


				<div class="reservation-index">
					<span class="reservation-request-index"><%= link_to "予約したオープンガーデン一覧", request_reservations_path %></span>
					<span class="reservation-accept-index"><%= link_to "公開中したオープンガーデンへの見学予約", accept_reservations_path %></span>
				</div>


			</div>
	</div>

	<!-- 投稿一覧 -->
	<div class="row">
		<div class="col-xs-10">

			<% @post_gardens.each do |post_garden| %>

				<div class="col-xs-3">
					<%= link_to post_garden_path(post_garden.id) do %>
						<%= attachment_image_tag post_garden.post_images[0], :garden_image, :fill, 200,200, format: 'jpg' %>
					<% end %>

					<%= link_to user_path(post_garden.user.id) do %>
						<%= attachment_image_tag post_garden.user, :profile_image, :fill, 30,30, format: 'jpg', class:"index-profile-image" %>
						<%= post_garden.user.user_name %>
					<% end %>

					<div class="tags-list-index">
						<% post_garden.tag_list.each do |tag| %>
							<div class="post-tags">
								<span class="post-tag-text"><%= tag %></span>
							</div>
						<% end %>
					</div>
				</div>

			<% end %>
		</div>
	</div>
</div>