<div class="container">
	<div class="row">

		<div class="col-xs-8 col-xs-offset-1">
			<div class="approve-reservation-title">
				<span class="approve-reservation-title-text"><strong><i class="fas fa-leaf"></i>庭園の訪問予約リクエスト</strong></span>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div id="calendar-reservation"></div>
			</div>
		</div>

		<!-- どの投稿のカレンダーか判別するため、idをjqueryに渡している -->
		<div class="params_num_reservation" data-params="<%= @reservation.post_garden.id %>"></div>

		<div class="row">

			<div class="col-xs-6 col-xs-offset-3 approve-reservation-info">

				<div class="col-xs-10 col-xs-offset-1">
					<div class="approve-reservation-content">
						<span class="approve-reservation-content-text"><strong>ご予約内容</strong></span>
					</div>
				</div>

				<div class="col-xs-10 col-xs-offset-1">
					<label class="approve-reservation-datetime-text">◯ 予約時間</label><br>
					<%= @reservation.r_start_datetime.strftime("%Y年%m月%d日 %H時%M分") %>　〜　<%= @reservation.r_end_datetime.strftime("%Y年%m月%d日 %H時%M分") %>
				</div>


				<!-- 予約者名と人数 -->
				<div class="col-xs-3 col-xs-offset-1">
					<div class="approve-reservation-name">
						<label class="approve-reservation-name-text">◯ 予約者名</label><br>
						<%= @reservation.reservation_name %>様
					</div>
				</div>

				<div class="col-xs-5">
					<div class="approve-reservation-num">
						<label class="approve-reservation-num-text">◯ 予約人数（最大<%= @reservation.post_garden.open_max_number %>人）</label><br>
						<%= @reservation.reservation_num %>
					</div>
				</div>


				<!-- 予約メッセージ -->
				<div class="col-xs-9 col-xs-offset-1">
					<div class="field">
						<label class="reservation-message">◯ 予約メッセージ</label><br>
						<%= @reservation.reservation_message %>
					</div>
				</div>

			</div>
		</div>


		<!-- 予約内容確認事項 -->

		<div class="row">

			<div class="col-xs-9 col-xs-offset-1">

				<div class="approve-reservation-bottom-content">
					<span class="approve-reservation-bottom-content-text">◯ ご予約リクエストを受けたお庭はこちらです。</span>
				</div>

			</div>


			<div class="col-xs-10 col-xs-offset-1">

				<div id="map"></div>

					<script>
						var map;
						var tokyo = {lat: 35.6811673, lng: 139.7670516};

						function initMap(){

							var map = new google.maps.Map(document.getElementById('map'), {
				          	zoom: 15
				          	// center: marker
				      		});
				      		var latlng = new google.maps.LatLng(<%= @reservation.post_garden.latitude %>, <%= @reservation.post_garden.longitude %>);
				      		map.setCenter(latlng);

							(function(){
								var contentString = '<%= attachment_image_tag @reservation.post_garden.post_images[0], :garden_image, :fill, 100, 100, format: 'jpg' %>' + '<br><br><br>' + '<strong>住所</strong>' + '<br>' + '〒<%= @reservation.postal_code %>' + '<br>' + '<%= @reservation.reservation_address %>' + '<br>' + '<strong>投稿者</strong>' + '<br>' + '<%= @reservation.owner_name %>' + '<br>' + '<strong>使用している庭木</strong>' + '<br>' + '<% @reservation.post_garden.planted_gardens.each do |planted_garden| %><%= planted_garden.plant_name %><% end %>'+ '<br>' + '<%= @reservation.post_garden.tag_list %>' + '<br>' + '<%= link_to post_garden_path(@reservation.post_garden.id) do %><span class="link">詳細へ</span><% end %>';
								var infowindow = new google.maps.InfoWindow({
									content: contentString,
									maxWidth: 1000,
								});

								var marker = new google.maps.Marker({
									position:{lat: <%= @reservation.post_garden.latitude %>, lng: <%= @reservation.post_garden.longitude %>},
									map: map,
									title: contentString
									});

								marker.addListener('click', function(){
									infowindow.open(map, marker);
								});
							})();
						};
					</script>
			</div>

			<div class="col-xs-10 col-xs-offset-1 reservation-info">

				<!-- 住所 -->
				<div class="col-xs-8">
					<label class="reservation-content-address">・住所</label>
						<span class="reservation-content-postal-code-text">〒<%= @reservation.postal_code %></span>
						<span class="reservation-content-address-text"><%= @reservation.reservation_address %></span>
				</div>

				<!-- 入場料 -->
				<div class="col-xs-8 reservation-content-entrance-fee-position">
					<label class="reservation-content-entrance-fee">・入場料</label>
					<span class="reservation-content-entrance-fee-text"><%= @reservation.entrance_fee %>円</span>
				</div>


				<!-- 注意事項 -->
				<div class="col-xs-8">
					<label class="reservation-content-entrance-fee">・注意事項</label><br>
					<div class="reservation-content-announce-text">
						<%= @reservation.announce %>
					</div>
				</div>

				<div class="col-xs-1 col-xs-offset-2">
					<%= link_to "詳細", post_garden_path(@reservation.post_garden_id), class:"btn btn-primary" %>
				</div>

			</div>

		</div>

		<div class="row">
			<div class="reservation-confirm">
				<div class="col-xs-2 col-xs-offset-4 reservation-bottom">

					<!-- リクエストステータスを"承認"に変更 -->
					<%= form_for @reservation, url:reservation_path, method: :patch do |f| %>
						<%= f.hidden_field :request_status, :value => "承認" %>
						<%= f.submit "リクエストを承認する", class:"btn btn-success", data: {confirm: "リクエストを承認します。よろしいですか？"} %>
					<% end %>

				</div>

				<div class="col-xs-2 col-xs-offset-3">
					<!-- キャンセル画面へ -->
					<%= link_to "キャンセルする", cancel_reason_path(@reservation.id), class:"btn btn-warning" %>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Google map API用 -->
<script async defer src="https://maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap&language=ja"></script>