<div class="container">
	<div class="row">

		<div class="col-xs-8 col-xs-offset-2">
			<div class="request-reservations-index-title">
				<span class="accept-reservations-index-title-text"><strong><i class="fas fa-running"></i>リクエストした見学希望一覧</strong></span>
			</div>
		</div>

		<div class="col-xs-8 col-xs-offset-2">
			<div class="request-color-example">
				<span class="not-check-color-example"></span> •••未承認
				<span class="accept-color-example"></span> •••承認済
				<span class="cancel-color-example"></span> •••キャンセル済
			</div>
		</div>


		<div class="col-xs-8 col-xs-offset-2">
			<% @reservations.each do |reservation| %>

				<% if reservation.request_status == "未受付" %>
					<div class="panel panel-danger">
						<div class="panel-heading">
							予約名：<%= reservation.reservation_name %>
							<span class="request-reservation-day">予約リクエスト送信日：<%= reservation.created_at.strftime("%Y年%m月%d日 %H時%M分") %></span>
						</div>

						<div class="panel-body">
							<h4 class="panel-title">
								予約日：<%= reservation.r_start_datetime.strftime("%Y年%m月%d日 %H時%M分") %>〜<%= reservation.r_end_datetime.strftime("%Y年%m月%d日 %H時%M分") %>
							</h4>

							<div class="row">
								<div class="panel-content">
									<div class="col-xs-2">
										<%= link_to post_garden_path(reservation.post_garden.id) do %>
											<%= attachment_image_tag reservation.post_garden.post_images[0], :garden_image, :fill, 80,80, format: 'jpg', class:"index-post-image" %>
										<% end %>
									</div>

									<div class="col-xs-2 request-reservation-content-position">
										<label class="request-reservation-num">訪問先</label><br>
										<span class="request-reservation-user-name">
											<%= attachment_image_tag reservation.post_garden.user, :profile_image, :fill, 20,20, format: 'jpg', class:"index-profile-image" %>
											<%= reservation.owner_name %>
										</span>
									</div>

									<div class="col-xs-2 request-reservation-content-position">
										<label class="request-reservation-num">予約人数</label><br>
										<span class="request-reservation-num"><%= reservation.reservation_num %>人</span>
									</div>

									<div class="col-xs-4 request-reservation-content-position">
										<label class="request-reservation-message">予約メッセージ</label><br>
										<span class="request-reservation-message"><%= reservation.reservation_message %></span>
									</div>
								</div>


								<div class="col-xs-2">
									<div class="detail-reservation request-reservation-content-position">
										<%= link_to "詳細", reservation_path(reservation.id), class:"btn btn-danger" %>
									</div>
								</div>
							</div>

						</div>
					</div>

				<% elsif reservation.request_status == "承認" %>
					<div class="panel panel-success">
						<div class="panel-heading">
							予約名：<%= reservation.reservation_name %>
							<span class="request-reservation-day">予約リクエスト送信日：<%= reservation.created_at.strftime("%Y年%m月%d日 %H時%M分") %></span>
						</div>

						<div class="panel-body">
							<h4 class="panel-title">
								予約日：<%= reservation.r_start_datetime.strftime("%Y年%m月%d日 %H時%M分") %>〜<%= reservation.r_end_datetime.strftime("%Y年%m月%d日 %H時%M分") %>
							</h4>

							<div class="row">
								<div class="panel-content">
									<div class="col-xs-2">
										<%= link_to post_garden_path(reservation.post_garden.id) do %>
											<%= attachment_image_tag reservation.post_garden.post_images[0], :garden_image, :fill, 80,80, format: 'jpg', class:"index-post-image" %>
										<% end %>
									</div>

									<div class="col-xs-2 request-reservation-content-position">
										<label class="request-reservation-num">訪問先</label><br>
										<span class="request-reservation-user-name">
											<%= attachment_image_tag reservation.post_garden.user, :profile_image, :fill, 20,20, format: 'jpg', class:"index-profile-image" %>
											<%= reservation.post_garden.user.user_name %>
										</span>
									</div>

									<div class="col-xs-2 request-reservation-content-position">
										<label class="request-reservation-num">予約人数</label><br>
										<span class="request-reservation-num"><%= reservation.reservation_num %>人</span>
									</div>

									<div class="col-xs-4 request-reservation-content-position">
										<label class="request-reservation-message">予約メッセージ</label><br>
										<span class="request-reservation-message"><%= reservation.reservation_message %></span>
									</div>
								</div>


								<div class="col-xs-2">
									<div class="detail-reservation request-reservation-content-position">
										<%= link_to "詳細", reservation_path(reservation.id), class:"btn btn-success" %>
									</div>
								</div>
							</div>

						</div>
					</div>

				<% elsif reservation.request_status == "キャンセル" %>
					<div class="panel panel-warning">
						<div class="panel-heading">
							予約名：<%= reservation.reservation_name %>
							<span class="request-reservation-day">予約リクエスト送信日：<%= reservation.created_at.strftime("%Y年%m月%d日 %H時%M分") %></span>
						</div>

						<div class="panel-body">
							<h4 class="panel-title">
								予約日：<%= reservation.r_start_datetime.strftime("%Y年%m月%d日 %H時%M分") %>〜<%= reservation.r_end_datetime.strftime("%Y年%m月%d日 %H時%M分") %>
							</h4>

							<div class="row">
								<div class="panel-content">
									<div class="col-xs-2">
										<%= link_to post_garden_path(reservation.post_garden.id) do %>
											<%= attachment_image_tag reservation.post_garden.post_images[0], :garden_image, :fill, 80,80, format: 'jpg', class:"index-post-image" %>
										<% end %>
									</div>

									<div class="col-xs-2 request-reservation-content-position">
										<label class="request-reservation-num">訪問先</label><br>
										<span class="request-reservation-user-name">
											<%= attachment_image_tag reservation.post_garden.user, :profile_image, :fill, 20,20, format: 'jpg', class:"index-profile-image" %>
											<%= reservation.post_garden.user.user_name %>
										</span>
									</div>

									<div class="col-xs-2 request-reservation-content-position">
										<label class="request-reservation-num">予約人数</label><br>
										<span class="request-reservation-num"><%= reservation.reservation_num %>人</span>
									</div>

									<div class="col-xs-4 request-reservation-content-position">
										<label class="request-reservation-message">予約メッセージ</label><br>
										<span class="request-reservation-message"><%= reservation.reservation_message %></span>
									</div>
								</div>


								<div class="col-xs-2">
									<div class="detail-reservation request-reservation-content-position">
										<%= link_to "詳細", reservation_path(reservation.id), class:"btn btn-warning" %>
									</div>
								</div>
							</div>

						</div>
					</div>
				<% end %>

			<% end %>
		</div>

	</div>
</div>