<div class="container">
	<div class="row">

		<div class="col-xs-10 col-xs-offset-1 reservation-show-all-title">
			<% if @reservation.request_status == "未受付" %>
				<div class="reservation-show-not-yet-title">
					<span class="reservation-show-not-yet-text"><strong><i class="fas fa-spinner"></i>予約リクエスト中</strong></span>
				</div>
			<% elsif @reservation.request_status == "承認" %>
				<div class="reservation-show-approved-title">
					<span class="reservation-show-approved-text"><strong><i class="far fa-check-circle"></i>この予約は確定されています</strong></span>
				</div>
			<% elsif @reservation.request_status == "キャンセル" %>
				<div class="reservation-show-canceled-title">
					<span class="reservation-show-canceled-text"><strong><i class="fas fa-ban"></i>この予約はキャンセルされています</strong></span>
				</div>
			<% end %>
		</div>

		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 reservation-show-bg-color">

				<div class="reservation-show-content-title">
					<span class="reservation-show-content-title-text"><strong>予約詳細</strong></span>
				</div>


				<!-- 予約者名と人数 -->
				<div class="col-xs-2 col-xs-offset-1">
					<label class="reservation-show-name">◯ 予約者名</label><br>
					<span class="reservation-show-name-text"><%= @reservation.reservation_name %></span>
				</div>

				<div class="col-xs-3">
					<label class="reservation-show-num">◯ 予約人数（最大<%= @reservation.post_garden.open_max_number %>人）</label><br>
					<span class="reservation-show-num-text"><%= @reservation.reservation_num %>人</span>
				</div>


				<!-- 住所 -->
				<div class="col-xs-6">
					<label class="reservation-show-address">◯ 住所</label><br>
					<span class="reservation-show-address-text">〒<%= @reservation.postal_code %>
					<%= @reservation.reservation_address %></span>
				</div>


				<!-- 予約時間 -->
				<div class="col-xs-6 col-xs-offset-1">
					<label class="reservation-show-datetime">◯ 予約時間</label><br>
					<span class="reservation-show-datetime-text"><%= @reservation.r_start_datetime.strftime("%Y年%m月%d日 %H時%M分") %>　〜　<%= @reservation.r_end_datetime.strftime("%Y年%m月%d日 %H時%M分") %></span>
				</div>


				<!-- 入場料 -->
				<div class="col-xs-2">
					<label class="reservation-show-entrance-fee">◯ 入場料</label><br>
					<span class="reservation-show-entrance-fee-text"><%= @reservation.entrance_fee %>円</span>
				</div>


				<!-- 予約メッセージ -->
				<div class="col-xs-4 col-xs-offset-1">
					<label class="reservation-show-message">◯ 予約メッセージ</label><br>
					<span class="reservation-show-message-text"><%= @reservation.reservation_message %></span>
				</div>


				<!-- 注意事項 -->
				<div class="col-xs-4">
					<label class="reservation-show-announce">◯ 注意事項</label><br>
					<span class="reservation-show-announce-text"><%= @reservation.announce %></span>
				</div>


				<!-- 詳細へ -->
				<div class="col-xs-3 reservation-show-post-detail">
					<%= attachment_image_tag @reservation.post_garden.post_images[0], :garden_image, :fill, 50,50, format: 'jpg', class:"index-post-image reservation-show-post-detail-image" %>
					<%= link_to "詳細", post_garden_path(@reservation.post_garden_id), class:"btn btn-primary" %>
				</div>


			</div>
		</div>


		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">

				<div id="map"></div>

					<script>
						var map;
						var tokyo = {lat: 35.6811673, lng: 139.7670516};

						function initMap(){

							var map = new google.maps.Map(document.getElementById('map'), {
				          	zoom: 15
				          	// center: marker
				      		});
				      		var latlng = new google.maps.LatLng(<%= @reservation.post_garden.latitude %>, <%= @reservation.post_garden.longitude %>);
				      		map.setCenter(latlng);

							(function(){
								var contentString = '<div class="row">' + '<div class="col-xs-6">' + '<%= attachment_image_tag @reservation.post_garden.post_images[0], :garden_image, :fill, 100, 100, format: 'jpg', class:"index-post-image" %>' + '</div>' + '<div class="col-xs-6">' + '<strong>投稿者</strong>' + '<br>' + '<%= @reservation.owner_name %>' + '<br>' + '<% @reservation.post_garden.tag_list.each do |tag| %>' + '<span class="post-tag-text"><%= tag %></span>' + '<% end %>' + '<p>' + '<%= link_to post_garden_path(@reservation.post_garden.id) do %><span class="btn btn-primary btn-sm">詳細へ</span><% end %>' + '</p>' + '</div>';
								var infowindow = new google.maps.InfoWindow({
									content: contentString,
									maxWidth: 1000,
								});

								var marker = new google.maps.Marker({
									position:{lat: <%= @reservation.post_garden.latitude %>, lng: <%= @reservation.post_garden.longitude %>},
									map: map,
									title: contentString
									});

								marker.addListener('click', function(){
									infowindow.open(map, marker);
								});
							})();
						};
					</script>
			</div>

		</div>


		<!-- 自身でリクエストした予約は編集可能。キャンセルした予約は、編集できないように -->
		<% if @reservation.user_id == current_user.id %>
			<% if @reservation.request_status == "未受付" || @reservation.request_status == "承認" %>
				<div class="col-xs-2 col-xs-offset-5">
					<%= link_to "予約内容変更", edit_reservation_path(@reservation.id), class:"btn btn-primary reservation-show-button" %>
				</div>

				<div class="col-xs-2 col-xs-offset-2">
					<%= link_to "キャンセルする", cancel_reason_path(@reservation.id), class:"btn btn-warning reservation-show-button" %>
				</div>
			<% end %>

		<% elsif @reservation.owner_id == current_user.id %>
			<% if @reservation.request_status == "未受付" || @reservation.request_status == "承認" %>
			<div class="col-xs-2 col-xs-offset-9">
				<%= link_to "キャンセルする", cancel_reason_path(@reservation.id), class:"btn btn-warning reservation-show-button" %>
			</div>
			<% end %>
		<% end %>

	</div>
</div>

<!-- Google map API用 -->
<script async defer src="http://maps.google.com/maps/api/js?key=AIzaSyC7O7F_8ZRZ99gdEmoYwfe8xa2JwQszfuo&callback=initMap&language=ja"></script>