<div class="container">
	<div class="row">

		<!-- サイドメニュー -->
		<div class="col-xs-2">

		</div>


		<!-- ログインしている場合 -->
		<% if user_signed_in? %>

			<div class="col-xs-10">

				<!-- フォローしている人の投稿順 -->
				<div class="post-title">
					<span class="following-post-garden">みんなの投稿</span>
				</div>
				<div class="popular-post-index">

					<% @order_following_posts.each do |order_following_post| %>

						<div class="col-xs-3">
							<%= link_to post_garden_path(order_following_post.id) do %>
								<%= attachment_image_tag order_following_post.post_images[0], :garden_image, :fill, 200,200, format: 'jpg' %>
							<% end %>

							<%= link_to user_path(order_following_post.user.id) do %>
								<%= attachment_image_tag order_following_post.user, :profile_image, :fill, 30,30, format: 'jpg', class:"index-profile-image" %>
								<%= order_following_post.user.user_name %>
							<% end %>

							<div class="tags-list-index">
								<% order_following_post.tag_list.each do |tag| %>
									<div class="post-tags">
										<span class="post-tag-text"><%= tag %></span>
									</div>
								<% end %>
							</div>
						</div>

					<% end %>
				</div>
			</div>


			<div class="col-xs-10 col-xs-offset-2">

				<!-- 人気のの投稿順 -->
				<div class="post-title">
					<span class="most-like-post-garden">人気のの投稿</span>
				</div>

				<div class="new-post-index">

					<% @rank_orders.each do |rank_order| %>

						<div class="col-xs-3">
							<%= link_to post_garden_path(rank_order.id) do %>
								<%= attachment_image_tag rank_order.post_images[0], :garden_image, :fill, 200,200, format: 'jpg' %>
							<% end %>

							<%= link_to user_path(rank_order.user.id) do %>
								<%= attachment_image_tag rank_order.user, :profile_image, :fill, 30,30, format: 'jpg', class:"index-profile-image" %>
								<%= rank_order.user.user_name %>
							<% end %>

							<div class="tags-list-index">
								<% rank_order.tag_list.each do |tag| %>
									<div class="post-tags">
										<span class="post-tag-text"><%= tag %></span>
									</div>
								<% end %>
							</div>
						</div>

					<% end %>
				</div>
			</div>


		<!-- ログインしていない場合 -->
		<% else %>

			<div class="col-xs-10">

				<!-- 人気の投稿順 -->
				<div class="post-title">
					<span class="most-like-post-garden">人気の投稿</span>
				</div>

				<div class="popular-post-index">

					<% @rank_orders.each do |rank_order| %>

						<div class="col-xs-3">
							<%= link_to post_garden_path(rank_order.id) do %>
								<%= attachment_image_tag rank_order.post_images[0], :garden_image, :fill, 200,200, format: 'jpg' %>
							<% end %>

							<%= link_to user_path(rank_order.user.id) do %>
								<%= attachment_image_tag rank_order.user, :profile_image, :fill, 30,30, format: 'jpg', class:"index-profile-image" %>
								<%= rank_order.user.user_name %>
							<% end %>

							<div class="tags-list-index">
								<% rank_order.tag_list.each do |tag| %>
									<div class="post-tags">
										<span class="post-tag-text"><%= tag %></span>
									</div>
								<% end %>
							</div>
						</div>

					<% end %>
				</div>
			</div>


			<div class="col-xs-10 col-xs-offset-2">

				<!-- 新着の投稿順 -->
				<div class="post-title">
					<span class="new-post-garden">新着の投稿</span>
				</div>
				<div class="new-post-index">

					<% @post_gardens.each do |post_garden| %>

						<div class="col-xs-3">
							<%= link_to post_garden_path(post_garden.id) do %>
								<%= attachment_image_tag post_garden.post_images[0], :garden_image, :fill, 200,200, format: 'jpg' %>
							<% end %>

							<%= link_to user_path(post_garden.user.id) do %>
								<%= attachment_image_tag post_garden.user, :profile_image, :fill, 30,30, format: 'jpg', class:"index-profile-image" %>
								<%= post_garden.user.user_name %>
							<% end %>

							<div class="tags-list-index">
								<% post_garden.tag_list.each do |tag| %>
									<div class="post-tags">
										<span class="post-tag-text"><%= tag %></span>
									</div>
								<% end %>
							</div>
						</div>

					<% end %>
				</div>
			</div>

		<% end %>


		<!-- 地図の表示 -->
		<div class="col-xs-10 col-xs-offset-2">

			<div id="map"></div>

				<script>

					var map;
					var tokyo = {lat: 35.6811673, lng: 139.7670516};

					function initMap(){

						var map = new google.maps.Map(document.getElementById('map'), {
				          zoom: 9,
				          center: tokyo
				      });
						// 複数の住所をもとにマーカーを立てる
						<% @open_gardens.each do |open_garden| %>
							(function(){
								var contentString = '<%= attachment_image_tag open_garden.post_images[0], :garden_image, :fill, 100, 100, format: 'jpg' %>' + '<br><br><br>' + '<strong>投稿者</strong>' + '<br>' + '<%= open_garden.user.user_name %>' + '<br>' + '<strong>使用している庭木</strong>' + '<br>' + '<% open_garden.planted_gardens.each do |planted_garden| %><%= planted_garden.plant_name %><% end %>' + '</p>' + '<br>' + '<p>' + 'タグ<%= open_garden.tag_list %>' + '</p>' + '<br>' + '<p>' + '<%= link_to post_garden_path(open_garden.id) do %><span class="link">詳細へ</span><% end %>' + '</p>';
								var infowindow = new google.maps.InfoWindow({
									content: contentString
								});

								var marker = new google.maps.Marker({
									position:{lat: <%= open_garden.latitude %>, lng: <%= open_garden.longitude %>},
									map: map,
									title: contentString
									});

								marker.addListener('click', function(){
									infowindow.open(map, marker);
								});
								})();
						<% end %>
					};

				</script>

		</div>

	</div>
</div>
<!-- Google map API用 -->
    <script async defer src="http://maps.google.com/maps/api/js?key=AIzaSyC7O7F_8ZRZ99gdEmoYwfe8xa2JwQszfuo&callback=initMap&language=ja"></script>