<div class="container">
	<div class="row">

		<div class="new-post-garden-title">
			<span class="new-post-title-text"><strong><i class="fas fa-pencil-ruler"></i>新規投稿をする</strong></span>
		</div>

		<%= form_for(@post_garden) do |f| %>
			<div class="new-post-bg-color">
				<!-- 画像投稿 -->
				<div class="col-xs-10 col-xs-offset-1">
					<label class="new-post_content-text">◯ 画像選択</label>
					<div class="field">
						<%= f.fields_for :post_images do |post_image| %>
							<%= render 'post_image_fields', f: post_image %>
						<% end %>

						<div class="links">
							<%= link_to_add_association "追加", f, :post_images, class:"btn btn-primary btn-sm new-post-image-add-position" %>
						</div>

					</div>
				</div>

				<!-- 投稿内容 -->
				<div class="row">
					<div class="col-xs-8 col-xs-offset-1">
						<div class="new-post-content">
							<label class="new-post_content-text">◯ 投稿内容</label>
							<%= f.text_area :post_content, class:"form-control" %>
						</div>
					</div>
				</div>

				<!-- 場所 -->
				<div class="row">
					<div class="col-xs-3 col-xs-offset-1">
						<div class="new-post-place">
							<label class="place-text">◯ 場所</label>
							<%= f.text_field :place, class:"form-control", placeholder: "東京都品川区" %>
						</div>
					</div>


					<!-- タグ -->
					<div class="col-xs-7">
						<div class="new-post-tagging">
							<label class="tag-text">◯ タグ</label><br>
							<%= f.text_field :tag_list, value: @post_garden.tag_list.join(","), 'data-role':'tagsinput', class:"form-control", placeholder: "キーワード" %>
						</div>
					</div>
				</div>

				<!-- 庭の広さ -->
				<div class="row">
					<div class="col-xs-3 col-xs-offset-1">
						<div class="new-post-area">
							<label class="area-text">◯ 庭の広さ</label>
							<%= f.text_field :area, class:"form-control", placeholder: "5m2" %>
						</div>
					</div>

					<!-- かかった経費 -->
					<div class="col-xs-2">
						<div class="new-post-expence">
							<label class="expence-text">◯ かかった経費（円）</label>
							<%= f.text_field :price, class:"form-control", placeholder: "15,000" %>
						</div>
					</div>
				</div>

				<!-- 使った庭木 -->
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="new-post-planted-garden">
							<label class="planted-garden-text">◯ 使った庭木</label>
							<%= f.fields_for :planted_gardens do |planted_garden| %>
								<%= render 'planted_garden_fields', f: planted_garden %>
							<% end %>

							<div class="links">
								<%= link_to_add_association "追加", f, :planted_gardens, class:"btn btn-primary btn-sm" %>
							</div>
						</div>
					</div>
				</div>

				<!-- 問題点（害虫、病気等） -->
				<div class="row">
					<div class="col-xs-5 col-xs-offset-1">
						<div class="new-post-problem">
							<label class="problem-text">◯ 問題点（害虫、病気等）</label>
							<%= f.text_area :problem, class:"col-auto form-control form-control-lg w-100", placeholder: "ハダニが多い。うどんこ病になってしまった。" %>
						</div>
					</div>

					<!-- 解決策 -->
					<div class="col-xs-5">
						<div class="new-post-solution">
							<label class="solution-text">◯ 解決策</label>
							<%= f.text_area :solution, class:"col-auto form-control form-control-lg w-100", placeholder: "殺虫殺菌スプレー剤の「ベニカXスプレー」、「ベニカXファインスプレー」を散布しました" %>
						</div>
					</div>
				</div>

			</div>

			<div class="row">
				<%= f.submit "投稿する", class:"col-xs-2 col-xs-offset-5 btn btn-primary" %>
			</div>

		<% end %>
	</div>
</div>