<div class="container">

	<div class="row">

		
		<% if @post_garden.open_status == "公開" %>
			<div class="open-status-box">
				<span class="open-status-text">公開中</span>
			</div>
		<% else %>
			<div class="open-status-box">
				<span class="open-status-text">非公開</span>
			</div>
		<% end %>

		<div class="col-xs-10 col-xs-offset-1">

			<div class="col-xs-6">
				<!-- 画像切り替え用矢印 -->
				<div class="change-btn-wrapper">
	          		<div class="change-btn prev-btn"><i class="far fa-arrow-alt-circle-left"></i></div>
	          		<div class="change-btn next-btn"><i class="far fa-arrow-alt-circle-right"></i></div>
       			</div>

       			<!-- data-indexでJsにデータを渡している。$('.slides').data('index')で値が取れる -->
       			<div class="slides" data-index="<%= @post_garden.post_images.length %>">

					<% @post_garden.post_images.each_with_index do |post_image, i| %>

						<% if i == 0 %>
							<div class="slide active">
								<%= attachment_image_tag post_image, :garden_image, :fill, 400,400, format: 'jpg' %>
							</div>
						<% else %>
							<div class="slide">
								<%= attachment_image_tag post_image, :garden_image, :fill, 400,400, format: 'jpg' %>
							</div>
						<% end %>

					<% end %>

				</div>
			</div>


			<!-- 写真右の項目 -->

			<!-- 投稿者、フォロー追加ボタン -->
				<div class="col-xs-5 col-xs-offset-1">

					<div class="post-place">
						<span class="post-place-text"><%= @post_garden.place %></span>
					</div>

					<div class="profile-image-box">
						<%= attachment_image_tag @user, :profile_image, :fill, 150,150, format: 'jpg' %>
					</div>
					<span class="profile-name"><%= @user.user_name %></span>


					<!-- 自ユーザならば、庭公開へのリンク、他ユーザならばフォローボタン -->
					<% if @user.id == current_user.id && @post_garden.open_status == "非公開" %>

						<%= link_to new_open_garden_path(@post_garden.id) do %>
							<div class="open-garden-input">
								<span class="open-garden-input-text">公開する</span>
							</div>
						<% end %>

					<% elsif @user.id == current_user.id && @post_garden.open_status == "公開" %>

						<%= link_to new_open_garden_path(@post_garden.id) do %>
							<div class="open-garden-input">
								<span class="open-garden-input-text">公開情報を編集する</span>
							</div>
						<% end %>

					<% else %>

						<%= link_to "#" do %>
							<div class="add-follow">
								<span class="add-follow-text">+　フォロー</span>
							</div>
						<% end %>

					<% end %>

			<!-- 使った庭木 -->
			<div class="row">
				<div class="col-xs-5 col-xs-offset-1">

					<div class="post-planted-garden">
						<span class="post-planted-garden-title">使用した庭木</span>
					</div>

					<% @post_garden.planted_gardens.each do |planted_garden| %>
						<div class="post-planted-gardens">
							<span class="post-planted-garden-text"><%= planted_garden.plant_name %></span>
							<span class="post-planted-garden-number"><%= planted_garden.plant_number %></span>
						</div>
					<% end %>

				</div>
			</div>

			<!-- タグ -->
			<div class="row">
				<div class="col-xs-5 col-xs-offset-1">

					<div class="post-tag">
						<span class="post-tag-title">タグ</span>
					</div>

					<% @post_garden.tag_list.each do |tag| %>
						<div class="post-tags">
							<span class="post-tag-text"><%= tag %></span>
						</div>
					<% end %>
					
				</div>

			</div>



			<!-- いいねボタン -->
			<div id="likes_buttons_<%= @post_garden.id %>">
				<%= render partial: 'likes/like', locals: {post_garden: @post_garden} %>
			</div>


		</div>
	</div>


	<!-- コメント欄 -->
	<div class="row">
		<div class="col-xs-8">

			<!-- コメント表示 -->
			<% @post_garden.post_comments.each do |post_comment| %>

			<div class="row">
				<div class="col-xs-2">
					<%= attachment_image_tag post_comment.user, :profile_image, :fill, 150,150, format: 'jpg' %>
				</div>

				<div class="col-xs-6">
					<%= post_comment.user.user_name %>
					<%= post_comment.comment_content %>

					<% if post_comment.user_id == current_user.id %>
						<div class="cart-item-delete">
							<%= link_to "削除", post_garden_post_comment_path(post_comment.id), method: :delete %>
						</div>
					<% end %>
				</div>
			</div>

			<% end %>

			<!-- コメント入力 -->
			<%= form_for @post_comment, url: post_garden_post_comments_path(@post_garden) do |f| %>


				<%= f.text_area :comment_content, class:"form-control" %>
				<%= f.submit "コメントする", class:"btn btn-lg mt-20 pull-right" %>

			<% end %>

		</div>
	</div>


	<!-- 予約用カレンダーの表示 -->
	<div class="col-xs-3 col-xs-offset-1">
		
		<% if @user.id == current_user.id %>


		<% elsif @post_garden.open_status == "公開" %>


		<% else %>


		<% end %>

	</div>

</div>