<div class="container">
  <div class="row">
    <header>

        <!-- 管理者でログインした場合 -->
        <% if admin_signed_in? %>
          <div class="admin_user-box col-xs-6 col-xs-offset-6">
              <span class="admin_user"> ショップ管理画面<br>　　　管理者　様</span>
          </div>

          <div class="admin-signout-box">
            <%= link_to(destroy_admin_session_path, method: :delete) do %>
              <span class="admin_signout"> サインアウト</span>
            <% end %>
          </div>


        <!-- ユーザでログインした場合 -->
        <% elsif user_signed_in?%>

          <span class="current_user"><%= current_user.last_name %>さん</span>
          <div class="header-menu">

            <%= link_to(user_path(current_user.id)) do %>
              <span class="home"> マイページ</span>
            <% end %>

            <% link_to  do %>
              <span class="favorite"> お気に入り</span>
            <% end %>

            <%= link_to do %>
              <span class="cart"> カート</span>
            <% end %>

            <%= link_to new_post_garden_path do %>
              <span class="contact"> 新規投稿</span>
            <% end %>

            <%= link_to(destroy_user_session_path, method: :delete) do %>
              <span class="signout"> サインアウト</span>
            <% end %>

          </div>


        <!-- ログインしていない場合 -->
        <% else %>

          <%= link_to(new_user_registration_path) do %>
            <span class="signup"> 新規登録</span>
          <% end %>

          <%= link_to(new_user_session_path) do %>
            <span class="signin"> ログイン</span>
          <% end %>

        <% end %>

    </header>
  </div>
</div>