<header>
    <div class="container">
        <div class="row">

            <div class="logo col-xs-3">
                <%= link_to root_path, class:"logo-leaf" do %>
                    <i class="fab fa-pagelines"></i>
                    <span class="logo-text"><b>Gardenia</b></span>
                <% end %>
            </div>

            <div class="col-xs-3">
                <!-- 検索ボックス -->
                <%= search_form_for @search, url: search_result_path do |f| %>

                    <div class="input-group">
                        <span class="input-group-btn">
                            <%= f.button :type => "submit", class:"btn btn-default" do %>
                                <i class="fas fa-search"></i>
                            <% end %>
                        </span>

                        <%= f.search_field :post_content_or_place_or_problem_or_solution_or_tags_name_or_planted_gardens_plant_name_cont, class:"search_field", placeholder: '場所、庭木、キーワードで検索', class:"form-control search-box" %>
                    </div>
                <% end %>
            </div>

            <div class="col-xs-5 col-xs-offset-1 header-nav">

            <!-- 管理者でログインした場合 -->
                <% if admin_signed_in? %>
                    <div class="admin_user-box col-xs-6 col-xs-offset-6">
                        <span class="admin_user"> ショップ管理画面<br>　　　管理者　様</span>
                    </div>

                    <div class="admin-signout-box">
                        <%= link_to(destroy_admin_session_path, method: :delete) do %>
                            <span class="admin_signout"> サインアウト</span>
                        <% end %>
                    </div>


                <!-- ユーザでログインした場合 -->
                <% elsif user_signed_in?%>

                    <div class="header-top">
                            <% if unchecked_notifications.any? %>
                                <span class="header-menu">
                                    <span class="header-current_user"><u><%= current_user.user_name %>さん</u>
                                        <%= link_to notifications_path, class:"header-link" do %>
                                            <i class="fas fa-bell"></i>
                                        <% end %>
                                    </span>
                                </span>
                                <i class="fas fa-circle n-circle"></i>
                            <% else %>
                                <%= link_to notifications_path, class:"header-link" do %>
                                    <span class="header-menu">
                                        <span class="header-current_user"><u><%= current_user.user_name %>さん</u>
                                            <i class="fas fa-bell"></i>
                                        </span>
                                    </span>
                                <% end %>
                            <% end %>
                       

                    </div>

                    <span class="header-margin">
                        <%= link_to "Gardeniaとは？", about_path, class:"header-menu" %>
                    </span>

                    <span class="header-margin">
                        <%= link_to "マイページ", user_path(current_user.id), class:"header-menu" %>
                    </span>

                    <span class="header-margin">
                        <%= link_to "新規投稿", new_post_garden_path, class:"header-menu" %>
                    </span>

                    <span class="header-margin">
                        <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class:"header-menu" %>
                    </span>


                    <!-- ログインしていない場合 -->
                <% else %>

                    <div class="before-login-header">
                        <span class="header-margin">
                            <%= link_to "Gardeniaとは？", about_path, class:"header-menu" %>
                        </span>

                        <span class="header-margin">
                            <%= link_to "新規登録", new_user_registration_path, class:"header-menu" %>
                        </span>

                        <span class="header-margin">
                            <%= link_to "ログイン", new_user_session_path, class:"header-menu" %>
                        </span>
                    </div>

                <% end %>
            </div>
        </div>
    </div>
</header>